<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DrawBattlefield Saved Battleground</string>
	<integer>1</integer>
	<integer>4</integer>
	<false/>
	<array>
		<real>0.5000000238418579</real>
		<integer>49</integer>
		<integer>0</integer>
		<integer>0</integer>
		<dict>
			<key>currenthp</key>
			<real>60</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>274.0858459472656</real>
			<key>positiony</key>
			<real>144.1413421630859</real>
			<key>rotation</key>
			<real>251.7054748535156</real>
			<key>type</key>
			<integer>1</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>60</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>207.0047607421875</real>
			<key>positiony</key>
			<real>121.4526596069336</real>
			<key>rotation</key>
			<real>53.89623260498047</real>
			<key>type</key>
			<integer>1</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>60</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>205.4058380126953</real>
			<key>positiony</key>
			<real>162.1605682373047</real>
			<key>rotation</key>
			<real>73.97454833984375</real>
			<key>type</key>
			<integer>1</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>48.01849365234375</real>
			<key>positiony</key>
			<real>321.3775024414062</real>
			<key>rotation</key>
			<real>194.3836822509766</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>53.620361328125</real>
			<key>positiony</key>
			<real>230.1523742675781</real>
			<key>rotation</key>
			<real>6.555437088012695</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>74.385009765625</real>
			<key>positiony</key>
			<real>202.1681671142578</real>
			<key>rotation</key>
			<real>17.23281669616699</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>381.7781677246094</real>
			<key>positiony</key>
			<real>279.0560302734375</real>
			<key>rotation</key>
			<real>191.9623718261719</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>111.2091369628906</real>
			<key>positiony</key>
			<real>40.98194122314453</real>
			<key>rotation</key>
			<real>351.5299377441406</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>3.112869739532471</real>
			<key>positiony</key>
			<real>117.4515380859375</real>
			<key>rotation</key>
			<real>203.6619720458984</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>451.2297973632812</real>
			<key>positiony</key>
			<real>150.8783569335938</real>
			<key>rotation</key>
			<real>128.6103057861328</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>121.675048828125</real>
			<key>positiony</key>
			<real>236.1768798828125</real>
			<key>rotation</key>
			<real>113.5052108764648</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>338.2623291015625</real>
			<key>positiony</key>
			<real>154.6670227050781</real>
			<key>rotation</key>
			<real>42.05911254882812</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>19</real>
			<key>positiony</key>
			<real>252</real>
			<key>rotation</key>
			<real>207.5358734130859</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>377.8583068847656</real>
			<key>positiony</key>
			<real>116.7125625610352</real>
			<key>rotation</key>
			<real>15.31895065307617</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>376.0434265136719</real>
			<key>positiony</key>
			<real>52.42520141601562</real>
			<key>rotation</key>
			<real>65.60349273681641</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>436.9803771972656</real>
			<key>positiony</key>
			<real>21.52231216430664</real>
			<key>rotation</key>
			<real>277.9522094726562</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>303.9827575683594</real>
			<key>positiony</key>
			<real>224.7360382080078</real>
			<key>rotation</key>
			<real>182.8931579589844</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>109.1061325073242</real>
			<key>positiony</key>
			<real>15.41791534423828</real>
			<key>rotation</key>
			<real>205.3115692138672</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>52.99798202514648</real>
			<key>positiony</key>
			<real>158.4304504394531</real>
			<key>rotation</key>
			<real>71.52666473388672</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>137.6567993164062</real>
			<key>positiony</key>
			<real>212.8301544189453</real>
			<key>rotation</key>
			<real>108.6357116699219</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>318.7010803222656</real>
			<key>positiony</key>
			<real>288.4020690917969</real>
			<key>rotation</key>
			<real>280.3527221679688</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>326.0647277832031</real>
			<key>positiony</key>
			<real>213.3157043457031</real>
			<key>rotation</key>
			<real>208.3015899658203</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>343.1588745117188</real>
			<key>positiony</key>
			<real>104.9431304931641</real>
			<key>rotation</key>
			<real>284.902587890625</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>338.7153015136719</real>
			<key>positiony</key>
			<real>187.3537292480469</real>
			<key>rotation</key>
			<real>357.572998046875</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>456.3591003417969</real>
			<key>positiony</key>
			<real>192.7847595214844</real>
			<key>rotation</key>
			<real>249.5910949707031</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>325.4811706542969</real>
			<key>positiony</key>
			<real>265.1374206542969</real>
			<key>rotation</key>
			<real>157.5284271240234</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>246</real>
			<key>positiony</key>
			<real>295</real>
			<key>rotation</key>
			<real>140.2663269042969</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>101.3811798095703</real>
			<key>positiony</key>
			<real>78.73390197753906</real>
			<key>rotation</key>
			<real>176.1555633544922</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>120.0424499511719</real>
			<key>positiony</key>
			<real>63.29703140258789</real>
			<key>rotation</key>
			<real>6.540214538574219</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>95.46730804443359</real>
			<key>positiony</key>
			<real>242.4878845214844</real>
			<key>rotation</key>
			<real>121.3847351074219</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>167.6410522460938</real>
			<key>positiony</key>
			<real>232.0749359130859</real>
			<key>rotation</key>
			<real>353.268310546875</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>80.28166198730469</real>
			<key>positiony</key>
			<real>90.45248413085938</real>
			<key>rotation</key>
			<real>260.6326293945312</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>448.3246459960938</real>
			<key>positiony</key>
			<real>240.5139617919922</real>
			<key>rotation</key>
			<real>332.351318359375</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>88.81645965576172</real>
			<key>positiony</key>
			<real>182.9499359130859</real>
			<key>rotation</key>
			<real>68.72666168212891</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>321.1512756347656</real>
			<key>positiony</key>
			<real>19.42560195922852</real>
			<key>rotation</key>
			<real>208.9894714355469</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>403.4083557128906</real>
			<key>positiony</key>
			<real>199.9905548095703</real>
			<key>rotation</key>
			<real>325.974853515625</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>279.6012268066406</real>
			<key>positiony</key>
			<real>51.62568283081055</real>
			<key>rotation</key>
			<real>179.4831085205078</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>130.6256103515625</real>
			<key>positiony</key>
			<real>26.07082176208496</real>
			<key>rotation</key>
			<real>132.6141357421875</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>24.01178741455078</real>
			<key>positiony</key>
			<real>129.2498779296875</real>
			<key>rotation</key>
			<real>85.77106475830078</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>378.3086547851562</real>
			<key>positiony</key>
			<real>92.68424987792969</real>
			<key>rotation</key>
			<real>114.2926406860352</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>275.8721313476562</real>
			<key>positiony</key>
			<real>285.5176696777344</real>
			<key>rotation</key>
			<real>316.3700256347656</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>71.59142303466797</real>
			<key>positiony</key>
			<real>304.9030151367188</real>
			<key>rotation</key>
			<real>30.86203384399414</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>306.1062316894531</real>
			<key>positiony</key>
			<real>248.6454467773438</real>
			<key>rotation</key>
			<real>298.20068359375</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>90.3026123046875</real>
			<key>positiony</key>
			<real>289.8749389648438</real>
			<key>rotation</key>
			<real>298.8007202148438</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>416</real>
			<key>positiony</key>
			<real>114</real>
			<key>rotation</key>
			<real>303.5010681152344</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>314.7178649902344</real>
			<key>positiony</key>
			<real>187.8872833251953</real>
			<key>rotation</key>
			<real>102.3486251831055</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>38.7059211730957</real>
			<key>positiony</key>
			<real>177.7097930908203</real>
			<key>rotation</key>
			<real>93.35696411132812</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>71.48023223876953</real>
			<key>positiony</key>
			<real>133.3201293945312</real>
			<key>rotation</key>
			<real>170.4854736328125</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>393.5360412597656</real>
			<key>positiony</key>
			<real>21.08927154541016</real>
			<key>rotation</key>
			<real>109.2539367675781</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
	</array>
</array>
</plist>
