<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DrawBattlefield Saved Battleground</string>
	<integer>1</integer>
	<integer>4</integer>
	<false/>
	<array>
		<real>0.5000000238418579</real>
		<integer>21</integer>
		<integer>0</integer>
		<integer>0</integer>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>162.8074035644531</real>
			<key>positiony</key>
			<real>246.2337799072266</real>
			<key>rotation</key>
			<real>45.28273773193359</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>8.261473655700684</real>
			<key>positiony</key>
			<real>261.583984375</real>
			<key>rotation</key>
			<real>26.99520301818848</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>88.56601715087891</real>
			<key>positiony</key>
			<real>327.0366516113281</real>
			<key>rotation</key>
			<real>151.4600372314453</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>60.23180389404297</real>
			<key>positiony</key>
			<real>223.0441284179688</real>
			<key>rotation</key>
			<real>28.97466087341309</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>116.6541748046875</real>
			<key>positiony</key>
			<real>246.5848083496094</real>
			<key>rotation</key>
			<real>257.1212158203125</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>54.16117477416992</real>
			<key>positiony</key>
			<real>247.1170501708984</real>
			<key>rotation</key>
			<real>356.1103210449219</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>99.07533264160156</real>
			<key>positiony</key>
			<real>230.1238250732422</real>
			<key>rotation</key>
			<real>146.1932525634766</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>-8.692568778991699</real>
			<key>positiony</key>
			<real>244.50634765625</real>
			<key>rotation</key>
			<real>70.08332061767578</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>70.99546813964844</real>
			<key>positiony</key>
			<real>310.5942687988281</real>
			<key>rotation</key>
			<real>330.3427429199219</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>19.63631057739258</real>
			<key>positiony</key>
			<real>213.5969543457031</real>
			<key>rotation</key>
			<real>150.5349884033203</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>25.83228302001953</real>
			<key>positiony</key>
			<real>278.0263061523438</real>
			<key>rotation</key>
			<real>321.6683044433594</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>157.3540496826172</real>
			<key>positiony</key>
			<real>269.671875</real>
			<key>rotation</key>
			<real>158.9940643310547</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>117.0452041625977</real>
			<key>positiony</key>
			<real>296.6036071777344</real>
			<key>rotation</key>
			<real>293.2576599121094</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>94.75678253173828</real>
			<key>positiony</key>
			<real>256.5637512207031</real>
			<key>rotation</key>
			<real>21.73355293273926</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>42.66115188598633</real>
			<key>positiony</key>
			<real>206.6015625</real>
			<key>rotation</key>
			<real>235.8210601806641</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>64.55046081542969</real>
			<key>positiony</key>
			<real>196.6041717529297</real>
			<key>rotation</key>
			<real>204.4692687988281</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>77.18589782714844</real>
			<key>positiony</key>
			<real>240.1216735839844</real>
			<key>rotation</key>
			<real>314.9488830566406</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>112.3276672363281</real>
			<key>positiony</key>
			<real>273.0062866210938</real>
			<key>rotation</key>
			<real>266.0784606933594</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>105.1512603759766</real>
			<key>positiony</key>
			<real>206.0706329345703</real>
			<key>rotation</key>
			<real>60.92242813110352</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>22.75756454467773</real>
			<key>positiony</key>
			<real>306.8319091796875</real>
			<key>rotation</key>
			<real>42.2895393371582</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>60</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>411.1047058105469</real>
			<key>positiony</key>
			<real>65.63640594482422</real>
			<key>rotation</key>
			<real>120.2644271850586</real>
			<key>type</key>
			<integer>7</integer>
			<key>version</key>
			<real>1</real>
		</dict>
	</array>
</array>
</plist>
