<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DrawBattlefield Saved Battleground</string>
	<integer>1</integer>
	<integer>4</integer>
	<false/>
	<array>
		<real>0.6000000238418579</real>
		<integer>7</integer>
		<integer>0</integer>
		<integer>0</integer>
		<dict>
			<key>currenthp</key>
			<real>12</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>298.9682312011719</real>
			<key>positiony</key>
			<real>53.73268890380859</real>
			<key>rotation</key>
			<real>156.940185546875</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>367.7515869140625</real>
			<key>positiony</key>
			<real>176.9837036132812</real>
			<key>rotation</key>
			<real>86.255615234375</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>12</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>214.2572021484375</real>
			<key>positiony</key>
			<real>282.6304321289062</real>
			<key>rotation</key>
			<real>341.2859802246094</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>112.5146713256836</real>
			<key>positiony</key>
			<real>180.9634552001953</real>
			<key>rotation</key>
			<real>274.7603759765625</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>116.1310424804688</real>
			<key>positiony</key>
			<real>96.53572082519531</real>
			<key>rotation</key>
			<real>241.4930114746094</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>375.37890625</real>
			<key>positiony</key>
			<real>254.2141571044922</real>
			<key>rotation</key>
			<real>55.34352111816406</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>247.1780395507812</real>
			<key>positiony</key>
			<real>165.3879547119141</real>
			<key>rotation</key>
			<real>79.44054412841797</real>
			<key>type</key>
			<integer>6</integer>
			<key>version</key>
			<real>1</real>
		</dict>
	</array>
</array>
</plist>
