<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DrawBattlefield Saved Battleground</string>
	<integer>1</integer>
	<integer>4</integer>
	<false/>
	<array>
		<real>0.6000000238418579</real>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>251.4613342285156</real>
			<key>positiony</key>
			<real>151.8223571777344</real>
			<key>rotation</key>
			<real>162.2621002197266</real>
			<key>type</key>
			<integer>6</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>386.1849060058594</real>
			<key>positiony</key>
			<real>34.76922607421875</real>
			<key>rotation</key>
			<real>139.1666870117188</real>
			<key>type</key>
			<integer>5</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>373.9913635253906</real>
			<key>positiony</key>
			<real>255.4307250976562</real>
			<key>rotation</key>
			<real>54.45284271240234</real>
			<key>type</key>
			<integer>5</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>122.7090148925781</real>
			<key>positiony</key>
			<real>45.00701141357422</real>
			<key>rotation</key>
			<real>68.95550537109375</real>
			<key>type</key>
			<integer>5</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>119.020393371582</real>
			<key>positiony</key>
			<real>255.7318725585938</real>
			<key>rotation</key>
			<real>95.17160797119141</real>
			<key>type</key>
			<integer>5</integer>
			<key>version</key>
			<real>1</real>
		</dict>
	</array>
</array>
</plist>
