<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DrawBattlefield Saved Battleground</string>
	<integer>1</integer>
	<integer>4</integer>
	<false/>
	<array>
		<real>0.6000000238418579</real>
		<integer>26</integer>
		<integer>0</integer>
		<integer>0</integer>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>64.15248107910156</real>
			<key>positiony</key>
			<real>202.7274932861328</real>
			<key>rotation</key>
			<real>210.9701690673828</real>
			<key>type</key>
			<integer>3</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>64.08470153808594</real>
			<key>positiony</key>
			<real>124.3404998779297</real>
			<key>rotation</key>
			<real>304.7390747070312</real>
			<key>type</key>
			<integer>3</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>270.5235290527344</real>
			<key>positiony</key>
			<real>198.7303009033203</real>
			<key>rotation</key>
			<real>200.1627655029297</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>307.7301940917969</real>
			<key>positiony</key>
			<real>162.4860992431641</real>
			<key>rotation</key>
			<real>295.5558471679688</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>231.2104187011719</real>
			<key>positiony</key>
			<real>162.4257354736328</real>
			<key>rotation</key>
			<real>127.2738647460938</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>274.1700744628906</real>
			<key>positiony</key>
			<real>127.5233001708984</real>
			<key>rotation</key>
			<real>331.854248046875</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>267.2214050292969</real>
			<key>positiony</key>
			<real>162.8643035888672</real>
			<key>rotation</key>
			<real>354.1472778320312</real>
			<key>type</key>
			<integer>8</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>307.0628356933594</real>
			<key>positiony</key>
			<real>136.421142578125</real>
			<key>rotation</key>
			<real>12.71226692199707</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>308.4490051269531</real>
			<key>positiony</key>
			<real>194.3698883056641</real>
			<key>rotation</key>
			<real>175.0675659179688</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>235.2725677490234</real>
			<key>positiony</key>
			<real>133.4181365966797</real>
			<key>rotation</key>
			<real>80.56873321533203</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>232.6672210693359</real>
			<key>positiony</key>
			<real>191.8544464111328</real>
			<key>rotation</key>
			<real>158.6512603759766</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>55.08571624755859</real>
			<key>positiony</key>
			<real>165.7274017333984</real>
			<key>rotation</key>
			<real>286.670166015625</real>
			<key>type</key>
			<integer>4</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>235.6825408935547</real>
			<key>positiony</key>
			<real>44.80729675292969</real>
			<key>rotation</key>
			<real>156.2530670166016</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>233.268798828125</real>
			<key>positiony</key>
			<real>286.0679321289062</real>
			<key>rotation</key>
			<real>305.35205078125</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>236.9947509765625</real>
			<key>positiony</key>
			<real>71.87103271484375</real>
			<key>rotation</key>
			<real>251.74755859375</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>231.9238586425781</real>
			<key>positiony</key>
			<real>253.7382202148438</real>
			<key>rotation</key>
			<real>41.32362747192383</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>234.0335998535156</real>
			<key>positiony</key>
			<real>105.4841613769531</real>
			<key>rotation</key>
			<real>86.21388244628906</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>234.3975677490234</real>
			<key>positiony</key>
			<real>220.8774108886719</real>
			<key>rotation</key>
			<real>356.694580078125</real>
			<key>type</key>
			<integer>9</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>40</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>268.5758361816406</real>
			<key>positiony</key>
			<real>256.708740234375</real>
			<key>rotation</key>
			<real>245.919677734375</real>
			<key>type</key>
			<integer>2</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>40</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>279.2591247558594</real>
			<key>positiony</key>
			<real>73.69696044921875</real>
			<key>rotation</key>
			<real>11.91434669494629</real>
			<key>type</key>
			<integer>2</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>297.2056579589844</real>
			<key>positiony</key>
			<real>40.53310394287109</real>
			<key>rotation</key>
			<real>39.9312744140625</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>300.9672546386719</real>
			<key>positiony</key>
			<real>229.6974945068359</real>
			<key>rotation</key>
			<real>84.92619323730469</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>300.8823547363281</real>
			<key>positiony</key>
			<real>102.0547180175781</real>
			<key>rotation</key>
			<real>314.5846862792969</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>20</real>
			<key>faction</key>
			<integer>2</integer>
			<key>positionx</key>
			<real>313.5610046386719</real>
			<key>positiony</key>
			<real>284.8088989257812</real>
			<key>rotation</key>
			<real>264.8468627929688</real>
			<key>type</key>
			<integer>10</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>63.44273376464844</real>
			<key>positiony</key>
			<real>258.7526245117188</real>
			<key>rotation</key>
			<real>258.1129150390625</real>
			<key>type</key>
			<integer>3</integer>
			<key>version</key>
			<real>1</real>
		</dict>
		<dict>
			<key>currenthp</key>
			<real>100</real>
			<key>faction</key>
			<integer>1</integer>
			<key>positionx</key>
			<real>60.96417617797852</real>
			<key>positiony</key>
			<real>62.47376251220703</real>
			<key>rotation</key>
			<real>321.1863403320312</real>
			<key>type</key>
			<integer>3</integer>
			<key>version</key>
			<real>1</real>
		</dict>
	</array>
</array>
</plist>
