<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>GLCompositorConfiguration</key>
        <dict>
                <key>GLCompositorMinimumDisplayDepth</key>
                <integer>16</integer>
                <key>GLCompositorMinimumVRAM</key>
                <integer>16</integer>
                <key>GLCompositorRequiredClasses</key>
                <array>
                        <string>IOAGPDevice</string>
                        <string>IOPCIDevice</string>
                </array>
                <key>GLCompositorUseOnPortable</key>
                <true/>
                <key>tileHeight</key>
                <integer>256</integer>
                <key>tileWidth</key>
                <integer>256</integer>
        </dict>
	<key>SessionUsesVirtualFramebuffer</key>
        <true/>
	<key>ForceSessionDrawsVirtualFramebuffer</key>
        <false/>
	<key>EnableErrorLogging</key>
	<true/>
	<key>EnableAbortOnError</key>
	<false/>
	<key>AllowDisplayModesNotMarkedSafeSubstitutions</key>
	<true/>
	<key>EnableVMPurging</key>
	<true/>
	<key>TransitionEffectMinimumDepth</key>
	<integer>32</integer>
	<key>CustomUIVersion</key>
	<integer>0</integer>
	<key>QuartzGLConfiguration</key>
	<dict>
		<key>QuartzGLMinimumVRAM</key>
		<integer>64</integer>
		<key>QuartzGLMinimumDRAM</key>
		<integer>512</integer>
		<key>QuartzGLDefaultDRAM</key>
		<integer>1024</integer>
		<key>QuartzGLVendorDisabled</key>
		<array>
     		</array>
	</dict>
	<key>Colors</key>
	<dict>
		<key>Black</key>
		<dict>
			<key>red</key>
			<real>0.0</real>
			<key>green</key>
			<real>0.0</real>
			<key>blue</key>
			<real>0.0</real>
		</dict>
		<key>FrenchBlue</key>
		<dict>
			<key>red</key>
			<real>0.2580645161</real>
			<key>green</key>
			<real>0.4193548387</real>
			<key>blue</key>
			<real>0.6774193548</real>
		</dict>
		<key>MediumGray</key>
		<dict>
			<key>red</key>
			<real>0.30588235</real>
			<key>green</key>
			<real>0.29803922</real>
			<key>blue</key>
			<real>0.29803922</real>
		</dict>
	</dict>
	<key>Palettes</key>
	<dict>
		<key>Standard</key>
		<dict>
			<key>Desktop</key>
			<string>FrenchBlue</string>
			<key>Fade</key>
			<string>FrenchBlue</string>
		</dict>
		<key>Install</key>
		<dict>
			<key>Desktop</key>
			<string>MediumGray</string>
			<key>Fade</key>
			<string>FrenchBlue</string>
		</dict>
		<key>SetTopBox</key>
		<dict>
			<key>Desktop</key>
			<string>Black</string>
			<key>Fade</key>
			<string>Black</string>
		</dict>
		<key>FullScreenApp</key>
		<dict>
			<key>Desktop</key>
			<string>Black</string>
			<key>Fade</key>
			<string>Black</string>
		</dict>
	</dict>
</dict>
</plist>
